{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 text-center">
                <h1 class="display-3 text-center">The Hourglass</h1>
            </div>
        </div>

        <!-- Columns for to-do and done go here -->
    <div class="row">
        <div class="col-12 col-md-6 mt-4">
            <h2>To-Do</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><a href="?sort=due_date">Due Date</a></th>
                        <th><a href="?sort=title">Title</a></th>
                        <th><a href="?sort=status">Status</a></th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    {% if task.status != 'completed' %}
                    <tr>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.category.name }}</td>
                        <td>
                            <a href="{% url 'task_edit' task.pk %}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
                            <form action="{% url 'task_complete' task.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">Complete</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 16px;">
                <form action="{% url 'task_create' %}" method="get" style="display: inline;">
                    <button type="submit" style="background: none; border: none; padding: 0;">
                        <img src="{% static 'image/Add_icon.webp' %}" height="60px" width="60px"alt="Create Task">
                    </button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-4">
            <h2>Completed</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Due Date</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    {% if task.status == 'completed' %}
                    <tr>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.category.name }}</td>
                        <td>
                            <a href="{% url 'task_edit' task.pk %}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'account_login' %}" class="btn btn-sm btn-primary">Sign In</a>
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
    </div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock %}